.leftContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  color: hsl(0, 36%, 70%);
  font-size: 50px;
  font-weight: 300;
  margin-bottom: 0%;
  text-transform: uppercase;
}
.secondTitle {

  line-height: 1.2;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 9px;
  margin-top: 0%;
}
p {
  color: hsl(0, 36%, 70%);
  line-height: 1.9;
  font-size: 15px;
}
.imgValidate{
    background-image: url("../../assets/icon-arrow.svg");
}
input{
    background: transparent;
  border: 1px solid hsl(0, 36%, 70%, 0.7);
  width: 50%;
  height: 65%;
  border-radius: 20px;
  padding-left: 15px;
}
