.content {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-image: url("./assets//images/bg-pattern-desktop.svg"),
    linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 66vw;
  justify-content: right;
}